body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 0px 0px;
    background-color: transparent;
    // font: normal 700 13px/18px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    /*  logo style*/
    .header-logo {
        font-size: 20px;
        color: #020814;

        &__break {
            color: #dadada;
            font-size: 26px;
        }
    }

    /*theme style*/
    .header-theme {
        display: flex;
        justify-content: center;
        width: 142px;
        background: #e9edf3;
        border-radius: 8px;
        height: 31px;
        padding: 2px;
        font-size: 13px;

        &__options {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            cursor: pointer;
        }

        &__option--active {
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #fff;
            }
        }
    }





    .menu-list {
        display: flex;
        margin: 0;

        &__item {
            list-style: none;
            margin: 0px 10px;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__item--button {
            background: #0b1521;
            padding: 5px 13px;
            border-radius: 5px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        &__item__links {
            text-decoration: none;
            color: #0b1521;
        }
    }


}