.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: $main-color;
    padding: 20px 0px;

    &__title {
        font-size: 50px;
        color: #ffffff;
        padding-left: 60px;
        text-decoration: none;

        @media only screen and (max-width: 767px) {
            padding-left: 20px;

        }
    }

    .social {
        display: flex;
        margin: 0;
        padding: 0;
        padding-right: 40px;

        @media only screen and (max-width: 767px) {
            padding-right: 20px;
        }

        &__item {
            list-style: none;
            margin: 0px 5px;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background: #ffffff;
            width: 30px;
            height: 30px;
            color: #ffffff;
            border-radius: 50%;
            font-size: 15px;
        }

        &__link--github {
            background-color: #ffffff;
            color: #000000;
        }

        &__link--facebook {
            background-color: #3b5998;
        }

        &__link--linkedin {
            background-color: #007bb5;
        }

        &__link--twitter {
            background-color: #1da1f2;
        }

    }
}