body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 0;

    @media only screen and (max-width: 767px) {
        padding: 0;

    }

    .navbar {
        width: 100%;
        margin: 0;

        .inner-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 767px) {
                flex-direction: column;
            }

            .navbar-header {
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }

                .navbar-toggle {
                    @media only screen and (max-width: 767px) {
                        margin-right: 0px;

                    }
                }

               
            }
        }
    }


    /*  logo style*/
    .navbar-header {
        .icon-bar {
            background: #0b1521;
        }

        .navbar-brand {
            font-size: 20px;
            color: #020814;
            text-decoration: none;
            margin: 0;

            @media only screen and (max-width: 767px) {
                padding-left: 5px;
            }

            &__break {
                color: #dadada;
                font-size: 26px;
            }
        }
    }

    /*theme style*/
    // .header-theme {
    //     display: flex;
    //     justify-content: center;
    //     width: 142px;
    //     background: #e9edf3;
    //     border-radius: 8px;
    //     height: 31px;
    //     padding: 2px;
    //     font-size: 13px;
    //     display: none;

    //     &__options {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex: 1;
    //         cursor: pointer;
    //     }

    //     &__option--active {
    //         position: relative;
    //         z-index: 1;

    //         &::before {
    //             content: '';
    //             position: absolute;
    //             box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    //             border-radius: 8px;
    //             width: 100%;
    //             height: 100%;
    //             z-index: -1;
    //             background: #fff;
    //         }
    //     }
    // }

    .navbar-collapse {
        @media only screen and (max-width: 767px) {
            width: 100%;
            padding: 0;
        }
    }

    .menu-list {
        margin: 0;
        padding: 0px;
        transition: all .2s ease-in-out;

        @media only screen and (max-width: 767px) {
            // flex-direction: column;
            // position: absolute;
            // top: 51px;
            // background: #fff;
            // padding: 0px;
            // width: 100%;
            // min-height: 32vh;
            // z-index: 1;
            // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            // border-top: 1px solid #bababa;
        }

        &__item {
            list-style: none;
            margin: 0px 15px;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0px;

            @media only screen and (max-width: 767px) {
                padding: 10px 0px;
                margin: 5px 0;
            }
        }

        &__item--button {
            background: $main-color;
            padding: 5px 13px;
            border-radius: 5px;

            a {
                color: #fff;
                text-decoration: none;

            }
        }

        &__item__links {
            text-decoration: none;
            color: $main-color;
            padding: 0;

            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
            }
        }
    }
}