.notfound {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 73vh;

    .notfound-details {
        &__title {
            font-size: 10rem;
            font-weight: bold;
            color: $main-color;
        }

        &__descp {
            font-size: 13px;
            color: $main-color;
        }
    }

    &__icon {
        font-size: 10rem;
        color: #ececec;
    }
}