.portfolio {
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #ececec;
        min-height: 100px;
        padding: 10px 50px;
        font-size: 40px;
        font-weight: bold;

        @media only screen and (max-width: 767px) {
            min-height: 70px;
            padding: 10px 30px;
            font-size: 40px;
        }
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;

        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

        &__list {
            overflow: hidden;
            border-radius: 12px;
            position: relative;

            &:hover & {
                &__image {
                    transform: scale(1.1);
                }
            }
        }


        &__fig {
            position: relative;
            overflow: hidden;
            backface-visibility: hidden;
            border-radius: 8px;
        }

        &__list__image {
            position: relative;
            display: block;
            width: 100%;
        }

        &__title {
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 13px;
            border-radius: 5px;
            font-size: 13px;
            background: $main-color;
            color: #ffffff;
        }

        &__url {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background: $main-color;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 50%;
            font-size: 13px;
            text-decoration: none;
        }
    }
}